<div class="container" style="margin-bottom: 10px">
  <div class="row">
    <div class="col-12"><h1>Voting App</h1></div>
  </div>
    <div class="row">
    <div class="col-12"><h2>Options</h2></div>
  </div>

  <div class="row">
     <div class="col-xs-12">
       <div class="input-group">
          <div class="input-group-prepend mr-2">
            <label class="item-label">Voting Type</label>
          </div>
          <select name="votetype" class="custom-select" id="inputGroupSelect03"
                  [(ngModel)]="votingType" (change)="isTaskDone = false" [disabled]="isCalculating"  aria-label="Select Voting Type">
            <option value="standard">Standard</option>
            <option value="instantrunoff">Ranked Voting</option>
          </select>
      </div>
     </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
          <div class="input-group-prepend mr-2">
            <label for="nofv" class="item-label">Number of Voters</label>
          </div>
          <input type="number" name="nofv" id="nofv"
                 [(ngModel)]="numOfVoters" (keyup)="isTaskDone = false" (change)="isTaskDone = false"
                 class="form-control"  [disabled]="isCalculating"
                 ngModel  #numberofvoters="ngModel" required [cusMinValidate]="candidatesService.numberOfCandidates + 1">
          <span class="error-msg" *ngIf="!numberofvoters.valid && numberofvoters.touched && !isCalculating">Please enter at least {{candidatesService.numberOfCandidates + 1}} voters.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
          <input type="text" [(ngModel)]="newName" class="form-control" placeholder="candidate name" (keyup.enter)="addName()"
            [disabled]="isCalculating || candidatesService.isMaxNumberOfCandidates">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary"  (click)="addName()"  [disabled]="isCalculating || candidatesService.isMaxNumberOfCandidates">Add</button>
          </div>
          <div>
            <button type="button" class="btn btn-edit" (click)="isEdit = !isEdit; isTaskDone = false;"
                   [ngClass]="{'btn-primary': !isEdit, 'btn-success': isEdit}" [disabled]="isCalculating">Edit</button>
          </div>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="!isTaskDone && !isCalculating">
      <div [ngClass]="{'error-area': candidatesService.numberOfCandidates < 2}">
      <app-candidate-info *ngFor="let item of candidates; let i = index;"
                          [candidate]="item" [index]="i" [isEdit]="isEdit"></app-candidate-info>
      </div>
      <span class="error-msg" *ngIf="candidatesService.numberOfCandidates < 2">Must have at least two candidates</span>
  </ng-template>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="run()" style="margin-top: 5px;"
              [disabled]=" candidatesService.numberOfCandidates < 2 || numOfVoters < candidatesService.numberOfCandidates + 1">
        <ng-template [ngIf]="!isCalculating">Run</ng-template>
        <ng-template [ngIf]="isCalculating">Running... </ng-template>
        <ng-template [ngIf]="isCalculating">
            <div class="spinner-border text-warning spinner-border-sm" role="status">
                 <span class="sr-only">Running...</span>
            </div>
        </ng-template>
      </button>
    </div>
  </div>

  <div *ngIf="votingType === 'standard' && isTaskDone && !isCalculating" class="component">
    <app-standard-voting></app-standard-voting>
  </div>

  <div *ngIf="votingType === 'instantrunoff' && isTaskDone && !isCalculating" class="component">
    <app-instantrunoff-voting ></app-instantrunoff-voting>
  </div>

</div>
